spring:
  application:
    name: "gatewayserver"
  config:
    import: optional:configserver:http://localhost:8071/
  #Below config tells spring cloud gateway to talk to Eureka Server (discovery) and get the service details.
  #So that the services can be accessed from the gateway server. (enabled: true)
  #If enabled: false, we need to define the URLs of the services in gateway server.
  cloud:
    gateway:
      discovery:
        locator:
          enabled: false
          lower-case-service-id: true
      httpclient:
        connect-timeout: 1000
        response-timeout: 10s


management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      enabled: true
  info:
    env:
      enabled: true
  observations:
    key-values:
      application: ${spring.application.name}

info:
  app:
    name: gatewayserver
    version: 1.0.0
    description: Gateway Server

logging:
  level:
    com:
      eazybytes:
        gatewayserver: debug
  pattern:
    level: "%5p [${spring.application.name},%X{trace_id},%X{span_id}]"

resilience4j:
  circuitbreaker:
    configs:
      default:
        wait-duration-in-open-state: 10s
        permitted-number-of-calls-in-half-open-state: 10
        sliding-window-size: 10
        failure-rate-threshold: 50



